<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tarea.nombre %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @tarea.duracion %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
